<!DOCTYPE HTML">
<html>
	<head>
		<title>Error: 404 | 2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">
			<div class="page-top"></div>
			<div class="page-mid">
				<div class="span-24">
					<div class="span-18">
						<h1 class="stencil">Error: 404</h1>
						<p class="intro">Page not found</p>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
	</body>
</html>
