/* -------------------------------------------------------------- 
  
   link-icons.css
   * Icons for links based on protocol or file type.
   
   See the Readme file in this folder for additional instructions.

-------------------------------------------------------------- */

/* Use this class if a link gets an icon when it shouldn't. */
body a.noicon { 
	background:transparent none !important; 
	padding:0 !important; 
	margin:0 !important; 
}

/* Make sure the icons are not cut */
a.icon[href^="http:"], a.icon[href^="http:"]:visited, 
a.icon[href$=".pdf"], a[href$=".doc"], a.icon[href$=".xls"], a.rss, 
a.icon[href$=".rdf"], a.icon[href^="aim:"] {
  padding:2px 0px 2px 22px;
  margin:-2px 0;
  background-repeat: no-repeat;
  background-position: left center;
}

/* External links */
a.icon[href^="http:"]          { background-image: url(src/external.png); } 


/* Files */
a.icon[href$=".pdf"]   { background-image: url(src/pdf.png); }  
a.icon[href$=".doc"]   { background-image: url(src/doc.png); }  
a.icon[href$=".xls"]   { background-image: url(src/xls.png); }  
 
/* Misc */
a.rss, 
a.rss   { background-image: url(src/feed.png); }
a.icon[href^="aim:"]   { background-image: url(src/im.png); }