<!DOCTYPE HTML">
<html>
	<head>
		<title>2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">			
			<div class="page-top"></div>
			<div class="page-mid">
				<div class="span-24">


		<a href="{site_url}images/shakespeare.flv"  
			 style="display:block;width:960px;height:528px; background:transparent; margin-top:-8px;"  
			 id="player"> 
		</a> 


		<ul class="home-links">
				{if logged_out}

					<li class="img-cards">
						<div></div>
						<h3>About 2nd Folio</h3>
						<p>What links Shakespeare, QR Codes, Playing Cards and Fun?</p>
						<a href="{path="qr/"}" class="home-btn-qr">GO</a>
					</li>
					<li class="img-league">
						<div></div>
						<h3>Join the Games</h3>
						<p>Compete with young people from across the world</p>						
						<a href="{path="cards/"}" class="home-btn-cards">GO</a>
					</li>
					<li>
						<h3>Login</h3>
						
						<p>Login for goes here</p>

					</li>

{!--				{/if}
				{if logged_in}
--}
					<li class="img-cards">
						<div></div>
						<h3>2nd Folio playing cards</h3>
						<p>Download and print the latest cards</p>
						<a href="{path="qr/"}" class="home-btn-qr">GO</a>
					</li>									
					<li class="img-cards">
						<div></div>
						<h3>The 2nd Folio League Table</h3>
						<p>The winners &amp; losers</p>
						<a href="{path="cards/"}" class="home-btn-cards">GO</a>
					</li>
					<li class="img-qr">
						<div></div>						
						<h3>Scan 2nd Folio QR Codes</h3>
						<p>Use the cards to find hint &amp; tips online</p>
						<a href="{path="league/"}" class="home-btn-league">GO</a>
					</li>
				{/if}
				
			</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
		<script type="text/javascript" charset="utf-8">
		/*-------------------------------------------    
		FLOWPLAYER:
		Flash video player
		-------------------------------------------*/

			flowplayer("player", "/assets/js/flowplayer-3.2.4.swf",{
				buttons: false	
			});
		</script>
	</body>
</html>
