<!DOCTYPE HTML">
<html>
	<head>
		<title>2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">			
			<div class="page-top"></div>
			<div class="page-mid">
				<div class="span-24">


		<a href="{site_url}images/shakespeare.flv"  
			 style="display:block;width:960px;height:528px; background:transparent; margin-top:-8px;"  
			 id="player"> 
		</a> 


		<ul class="home-links">
				{if logged_out}

					<li class="img-qr">
						<a href="{path="about/"}"><div></div></a>
						<h3><a href="{path="about/"}">About 2nd Folio</a></h3>
						<p>What links Shakespeare, QR Codes, Playing Cards and Fun?</p>
						<a href="{path="about/"}" class="go-btn">GO</a>
					</li>
					<li class="img-cards">
						<a href="{path="rules/"}"><div></div></a>
						<h3><a href="{path="rules/"}">How to play</a></h3>
						<p>Find out how to play 2nd folio in your classroom</p>						
						<a href="{path="rules/"}" class="go-btn">GO</a>
					</li>
					<li class="login">
						<h3>Login</h3>
						
						{exp:member:login_form return="my-account"}
							<label>Username</label>
							<input type="text" name="username" value="" class="span-5 text"/>
							<label>Password</label>
							<input type="password" name="password" value="" class="span-5 text" />

							<button type="submit" name="submit" value="Login" class="go-btn">LOGIN</button>

						{/exp:member:login_form}
						

					</li>

				{/if}
				{if logged_in}

					<li class="img-cards">
						<a href="{path="cards/"}"><div></div></a>
						<h3><a href="{path="cards/"}">2nd Folio playing cards</a></h3>
						<p>Download and print the latest cards</p>
						<a href="{path="cards/"}" class="go-btn">GO</a>
					</li>									
					<li class="img-qr">
						<a href="{path="qr/"}"><div></div></a>
						<h3><a href="{path="qr/"}">Scan 2nd Folio QR Codes</a></h3>
						<p>Use the cards to find hint &amp; tips online</p>
						<a href="{path="qr/"}" class="go-btn">GO</a>
					</li>
					<li class="img-league">
						<a href="{path="league/"}"><div></div></a>
						<h3><a href="{path="league/"}">The 2nd Folio League Table</a></h3>
						<p>Check out the winners &amp; losers</p>
						<a href="{path="league/"}" class="go-btn">GO</a>
					</li>
				{/if}
				
			</ul>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
		<script type="text/javascript" charset="utf-8">
		/*-------------------------------------------    
		FLOWPLAYER:
		Flash video player
		-------------------------------------------*/

			flowplayer("player", "/assets/js/flowplayer-3.2.4.swf",{
				buttons: false	
			});
		</script>
	</body>
</html>
