<!DOCTYPE HTML">
<html>
	<head>
		<title>2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">			
			<div class="page-top"></div>
			<div class="page-mid">
				<div class="span-24">


		<a href="{site_url}images/shakespeare.flv"  
			 style="display:block;width:960px;height:528px; background:transparent;"  
			 id="player"> 
		</a> 


					<a href="{path="qr/"}" class="home-btn-qr">DOWNLOAD QR READER</a>
					<a href="{path="cards/"}" class="home-btn-cards">GET MORE PLAYING CARDS</a>
					<a href="{path="league/"}" class="home-btn-league">THE 2ND FOLIO LEAGUE TABLE</a>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
		<script type="text/javascript" charset="utf-8">
		/*-------------------------------------------    
		FLOWPLAYER:
		Flash video player
		-------------------------------------------*/

			flowplayer("player", "/themes/2ndfolio_assets/js/flowplayer-3.2.4.swf",{
				buttons: false	
			});
		</script>
	</body>
</html>
