php_value memory_limit 120M

RewriteEngine On
RewriteCond $1 ^(member|home|about|rules|submit|search|characters|tasks|quotes|league|includes|qr|cards|P[0-9]{2,8}) [NC]
RewriteRule ^(.*)$ /index.php/$1 [L] 


ErrorDocument 404 /index.php?/home/404

# Fix queries for actions, urls and css in EE
RewriteCond %{QUERY_STRING} ^(ACT=.*)$ [NC,OR]
RewriteCond %{QUERY_STRING} ^(URL=.*)$ [NC,OR]
RewriteCond %{QUERY_STRING} ^(CSS=.*)$ [NC]   
RewriteRule ^(.*)$ /index.php\?&%{QUERY_STRING} [L] 