
/* COLORS
_______________________________________*/

			.red{color:#CC0027;}

/* MAIN FRAME
_______________________________________*/

			html, body{background: #000 url(../images/page-bg.jpg) top center repeat-y;}
			
			.border-top{border-top: 0.5em solid #ccc;}
			.border-bottom{border-bottom: 0.5em solid #ccc; padding-bottom:2em;}
			
			.page-height{height: 600px;}

			.page-top{width: 1030px; height: 37px; display: block; background: url('../images/black-top.png') center top no-repeat; margin-top: -40px;}
			.page-bottom{width: 1030px; height: 37px; display: block; background: url('../images/black-bot.png') center top no-repeat;}

			.page-mid{width: 1030px; display: block; background: url('../images/black-mid.png') center top repeat-y;}

			

/* TYPOGRAPHY
_______________________________________*/
			
			h1.stencil{font-size: 3em; color:#fff; margin: 0 0 0.5em 0;}
			
			p{font-size: 1.1em}
			
			p.intro{font-size: 1.4em; line-height: 1.3em}
			
			

/* PLAIN LISTS
_______________________________________*/

			#main-menu,
			.footer-menu,
			.sub-list
			{list-style: none; padding: 0px; margin: 0px;}

			#main-menu li,
			.footer-menu li,
			.sub-list li
			{background: none; padding-left: 0px;}


/* HEADER
_______________________________________*/

			h1#logo{background: url('../images/logo.png') 0 bottom no-repeat; display: block; width: 286px; height: 208px; margin: 0px; text-indent:-1000px; z-index:3; padding: 0px;}
				h1#logo a{display: block; width: 100%; height: 100%}

			.top-black{width:100%; display: block; height: 140px; background: url(../images/top-grad.png) bottom center repeat-x; margin-bottom: -140px;}


			#main-menu{float: right; display:block; width: 450px; height:70px;clear:right;}
			#main-menu li{display:inline; float: left;}
			#main-menu li a{display:block; float:left; color:#CC0027; padding:16px 0px 0px 40px; font-size: 1.4em;}
			#main-menu li a:hover{ color:#fff;}

			#main-menu li a.active{background: url(../images/mm-active-bg.jpg) center bottom no-repeat;}
			#main-menu li a.last{padding-right: 0px;}


			#top-nav {
				float:right;
				margin:0;
				padding:6px 0;
				background:#CC0027;
				-webkit-border-radius:0 0 6px 6px;
				-moz-border-radius:0 0 6px 6px;
				border-radius:0 0 6px 6px;
			}
				#top-nav li {
					display:block;
					float:left;
					margin:0;
					padding:0 6px;
				}
					#top-nav li a {
						color:#000;
					}

/* FOOTER
_______________________________________*/
			
			.footer-menu{margin-top: 1.5em;}
			.footer-menu li{display: inline; padding-right: 15px; float: left;}
			.footer-menu li a{display: inline; float: left; color: #acc; text-transform: uppercase; font-size:0.9em;}

			.footer-menu li a:hover{color: #fff;}

			/*SITE SEARCH*/
			
			.supercool{font-size:0.9em; margin-top:1.5em; color:#455;}
				.supercool a{color:#455;}


/* BUTTONS
_______________________________________*/


			.nice-button{
				background: #222 url(../images/alert-overlay.png) repeat-x;
				display: inline-block;
				padding: 5px 10px 6px;
				color: #fff;
				text-decoration: none;
				font-weight: bold;
				line-height: 1;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-box-shadow: 0 1px 3px #999;
				-webkit-box-shadow: 0 1px 3px #999;
				text-shadow: 0 -1px 1px #222;
				border-bottom: 1px solid #222;
				position: relative;
				cursor: pointer;
				border: 0px;
			}
			
			.nice-button:hover {background-color: #111; color: #fff; }




			/*HOMEPAGE*/
			
			a.home-btn-qr, a.home-btn-cards, a.home-btn-league{background: url(../images/home-button.jpg) no-repeat; height: 192px; display: block; text-indent: -10000px; float: left;}			
				a.home-btn-qr{background-position: 0 0; width:317px; margin-left: -15px}	
				a.home-btn-cards{background-position: -316px 0px; width:335px;}	
				a.home-btn-league{background-position: -655px 0; width:310px;}	
			
				a.candt-logo{display: block; width: 97px; height: 114px; background: url(../images/candt-logo.png) no-repeat; float: right; margin-top: -1.5em; text-indent: -5000px}
				a.supercool{display: block; width: 85px; height: 26px; background: url(../images/supercool.png) no-repeat; float: left; margin-top: -10px; text-indent: -5000px;}			
			
			
				
/* FORMS
_______________________________________*/

			.hiddenFields{display: none;}


			.suggestion-form input, .suggestion-form textarea {border: 1px solid #444; background: #222; color:#aaa;}

/* OTHER
_______________________________________*/

			.search-box{margin-top:4em;background: #222; border: 1px solid #999; width: 230px; padding: 15px;}
				.search-box h3{font-size: 1.3em; margin-bottom: 0.5em}
				.search-box p{font-size: 1em; margin-bottom: 0.25em}

							
/* MAJOR ELEMENTS
_______________________________________*/

			.sub-list{}
				.sub-list li{padding-bottom: 0.5em; background: url('../images/dotted-small-red.gif') left bottom repeat-x; margin-bottom: 0.5em;}
					.sub-list li small{display: block; margin-top:0.25em;}
						.sub-list a{display: block;}
							.sub-list li a.active{color:#999;}

/* PAGE SPECIFIC
_______________________________________*/


			/*HOMEPAGE*/
			
			.site-intro-mov{width: 950px; height: 560px; background: #666}


			/*LEAGUE*/

			table.league{font-size: 1.1em}
				table.league small{font-size: 0.7em}				
	
				table.league th{display:table-cell; vertical-align:bottom; transform: uppercase}				
	
				table.league td{padding: 0.75em 10px}				
	
				table.league .odd{background:#444}
				table.league .tother{background:#222}
				
			table.league .team		{width:45%; text-align: left; text-transform: uppercase}
			table.league .played	{width:25%; text-align: center;}			
			table.league .average	{width:25%; text-align: center;}			
			table.league .total		{width:10%; text-align: right;}		

			table.league .team a {color:#fff;}
			table.league .team a:hover {color:#CC0027;}
			table.league .team small {font-size: 0.6em;}
			
			#league .box {
				background:none;
				border:1px solid #fff;
			}

			/*CHARACTER*/

			.character-box {display: block; float: left;margin: 0px 38px 1em 0px; width: 190px; overflow: hidden;}
			.character-box img{margin: 0px; display: block; float:left; margin-left:-20px;}

			.character-box h3{font-size: 1.2em}
			.character-box p{font-size: 0.8em;}

			.character-box h3, .character-box p{margin-bottom: 0em; color: #fff}		

			a.character-box:hover h3, a.character-box:hover p{color: #CC0027}					
			
			
			/*SITE MAP PAGE*/
			.sitemap li{color: #333; margin-top: 1em; font-weight: bolder; border-bottom: 0px solid red;}
			.sitemap li a{color: #333;}
				.sitemap li a:hover{color: #9048bf;}	

			.sitemap li ul li{color: #666; margin-top: 0em; font-weight:lighter; display: inline; width: 100%;}
			.sitemap li ul li a{color: #666; display: block; padding: 0.3em 0px; border-bottom: 1px solid #ccc;}


			/*SEARCH RESULTS PAGE*/
			.search-results li{border-bottom: 1px solid #ccc; padding: 1em 0;}
			.search-results h3{font-size: 1em; margin-bottom: 0px;}
			.search-results p{margin: 0.5em 0 0 0;}
			.search-results a{color:#fff}


#my-account h2 {
	color:#CC0027;
	display:block;
	border-bottom:1px solid #fff;
	margin:0 0 10px 0;
}
	#my-account h2.bout-details {
		margin:0;
		border:none;
	}
#my-account .sub-menu li {
	padding:0;
	margin:5px 0;
	border-bottom:1px solid #fff;
}
	#my-account .sub-menu li a {
		color:#fff;
	}
#my-account .team-list {
	margin:10px 0 0 0;
	display:inline-block;
	width:100%;
}
	#my-account .team-list li:first-child {
		border-top:1px solid #fff;
	}
	#my-account .team-list li {
		padding:4px 10px;
		border-left:1px solid #fff;
		border-right:1px solid #fff;
		border-bottom:1px solid #fff;
	}
#my-account .box {
	background:none;
	padding:10px;
	border:1px solid #fff;
}
#my-account .button {
	float:right;
}





#add-team {
	display:none;
}



