@import "compass/reset";
@import "compass";


@mixin plain-list{
	list-style: none;
	margin: 0px;
	padding: 0px;
	li{
		list-style: none;
		margin: 0px;
		padding: 0px;
	}
}



/* COLORS
_______________________________________*/

			$red:#CC0027;

/* MAIN FRAME
_______________________________________*/

			html, body{background: #000 url(../images/page-bg.jpg) top center repeat-y;}
			
			.border-top{border-top: 0.5em solid #ccc;}
			.border-bottom{border-bottom: 0.5em solid #ccc; padding-bottom:2em;}
			
			.page-height{height: 600px;}

			.page-top{width: 1030px; height: 37px; display: block; background: url('../images/black-top.png') center top no-repeat; margin-top: -40px;}
			.page-bottom{width: 1030px; height: 37px; display: block; background: url('../images/black-bot.png') center top no-repeat;}

			.page-mid{width: 1030px; display: block; background: url('../images/black-mid.png') center top repeat-y;}

			

/* TYPOGRAPHY
_______________________________________*/
			
			h1.stencil{font-size: 3em; color:#fff; margin: 0 0 0.5em 0;}
			
			p{font-size: 1.1em}
			
			p.intro{font-size: 1.4em; line-height: 1.3em}
			
			


/* HEADER
_______________________________________*/

			h1#logo{
				background: url('../images/logo.png') 0 bottom no-repeat;
				display: block;
				width: 286px;
				height: 208px;
				margin: 0px;
				text-indent:-1000px;
				z-index:3;
				padding: 0px;
				a{
					display: block;
					width: 100%;
					height: 100%
					}
				}


			.top-black{width:100%; display: block; height: 140px; background: url(../images/top-grad.png) bottom center repeat-x; margin-bottom: -140px;}


			#main-menu{
				@include plain-list;
				float: right;
				display:block;
				width: 450px;
				height:70px;
				clear:right;
					li{
						display:inline; 
						float: left;
						a{
							display:block;
							float:left;
							color:$red;
							padding:16px 0px 0px 40px;
							font-size: 1.4em;
							&:hover{ color:#fff;}
							&.active{background: url(../images/mm-active-bg.jpg) center bottom no-repeat;}
							&.last{padding-right: 0px;}
						}						
					}
				}


			#top-nav {
				float:right;
				margin:0;
				padding:6px 0;
				background:$red;
				-webkit-border-radius:0 0 6px 6px;
				-moz-border-radius:0 0 6px 6px;
				border-radius:0 0 6px 6px;
				li {
					display:block;
					float:left;
					margin:0;
					padding:0 6px;
						a {
							color:#000;
						}
					}
				} 

/* FOOTER
_______________________________________*/
			
			.footer-menu{
				@include plain-list;
				margin-top: 1.5em;
				li{
					display: inline;
					padding-right: 15px;
					float: left;
					a{
						display: inline;
						float: left;
						color: #acc;
						text-transform: uppercase;
						font-size:0.9em;
						&:hover{color: #fff;}
						}
					}
				}


			/*SITE SEARCH*/
			
			.supercool{
				font-size:0.9em;
				margin-top:1.5em;
				color:#455;
				a{
					color:#455;
				}
			}



/* BUTTONS
_______________________________________*/


			.nice-button{
				background: #222 url(../images/alert-overlay.png) repeat-x;
				display: inline-block;
				padding: 5px 10px 6px;
				color: #fff;
				text-decoration: none;
				font-weight: bold;
				line-height: 1;
				-moz-border-radius: 5px;
				-webkit-border-radius: 5px;
				-moz-box-shadow: 0 1px 3px #999;
				-webkit-box-shadow: 0 1px 3px #999;
				text-shadow: 0 -1px 1px #222;
				border-bottom: 1px solid #222;
				position: relative;
				cursor: pointer;
				border: 0px;
				&:hover {
					background-color: #111;
					color: #fff;
					}
			}
			

			/*HOMEPAGE*/
			
			.home-links{
				@include plain-list;
				margin-top:24px;
				li{
					float:left;
					display: inline;
					width: 285px;
					height: 124px;
					background:url(../images/home-btn-bg.png) no-repeat -5px 0;
					padding: 15px 10px 15px 20px;
					position:relative;
					h3 {
						font-size:20px;
						margin-bottom:12px;
						a{
							color:#000;
							&:hover{color:$red;}
						}
					}
					p{
						color:#fff;
						font-weight: normal;
						font-size:15px;
					}

					.go-btn{
						position:absolute;
						right:15px;
						bottom:12px;
						background:$red;
						color:#fff;
						line-height: 25px;
						display:block;
						font-size:20px;
						padding: 5px 6px 0px;
						border: 0px;
						
						@include border-radius(5px);						
						&:hover{background:#000}
					}
					div{
						position:absolute;
					}
					&.img-cards {
						div{background:url(../images/home-btn-cards.png) no-repeat 0 0;width:165px;height:181px; margin-top:-35px;margin-left:-55px;}
						h3,p{margin-left:110px}
					}
					&.img-league{
						div{background:url(../images/home-btn-scoreboard.png) no-repeat 0 0;width: 111px; height:166px;margin-top:-25px;margin-left:0px;}
						h3,p{margin-left:130px}
					}
					&.img-qr{
						div{background:url(../images/home-btn-qr.png) no-repeat 0 0; width:152px;height:155px;margin-top:-20px;margin-left:-40px;}					
						h3{margin-left:110px}
						p{margin-left:120px}
					}
					&.login{
						label{
							font-family:arial, sans-serif;
							font-size:12px;
							display: block;
							width: 100px;
							float:left;
							clear:left;
						}
						input{
							font-size:14px;
							padding: 2px;
							border: 2px solid #888;
							background:#ddd;
							margin: 0px;
							float:left;
						}

						}
				}
				
			}
			
			
			a.candt-logo{display: block; width: 97px; height: 114px; background: url(../images/candt-logo.png) no-repeat; float: right; margin-top: -1.5em; text-indent: -5000px}
			a.supercool{display: block; width: 85px; height: 26px; background: url(../images/supercool.png) no-repeat; float: left; margin-top: -10px; text-indent: -5000px;}			
			
			
				
/* FORMS
_______________________________________*/

			.hiddenFields{display: none;}
			.suggestion-form input, .suggestion-form textarea {border: 1px solid #444; background: #222; color:#aaa;}

/* OTHER
_______________________________________*/

			.search-box{
				margin-top:4em;
				background: #222;
				border: 1px solid #999;
				width: 230px;
				padding: 15px;
				h3{font-size: 1.3em; margin-bottom: 0.5em}
				p{font-size: 1em; margin-bottom: 0.25em}
				}

							
/* MAJOR ELEMENTS
_______________________________________*/

			.sub-list{
				@include plain-list;
				li{
					padding-bottom: 0.5em;
					background: url('../images/dotted-small-red.gif') left bottom repeat-x;
					margin-bottom: 0.5em;
					small{
						display: block;
						margin-top:0.25em;
					}
					a{
						display: block;
						&.active{
							color:#999;
						}
					}
				}
			}
				



/* PAGE SPECIFIC
_______________________________________*/


			/*HOMEPAGE*/
			
			.site-intro-mov{width: 950px; height: 560px; background: #666}


			/*LEAGUE*/

			table.league{
				font-size: 1.1em
				small{font-size: 0.7em}				
				th{display:table-cell; vertical-align:bottom; transform: uppercase}				
				td{padding: 0.75em 10px}				
				.odd{background:#444}
				.tother{background:#222}
				.team {
					width:45%; text-align: left; text-transform: uppercase
					a {color:#fff;}
					a:hover {color:$red;}
					small {font-size: 0.6em;}
					}
				.played	{width:25%; text-align: center;}			
				.average	{width:25%; text-align: center;}			
				.total		{width:10%; text-align: right;}		

			}

			
			#league .box {
				background:none;
				border:1px solid #fff;
			}

			/*CHARACTER*/

			.character-box {
				display: block;
				float: left;
				margin: 0px 38px 1em 0px;
				width: 190px;
				overflow: hidden;
				img{margin: 0px; display: block; float:left; margin-left:-20px;}
				h3{font-size: 1.2em}
				p{font-size: 0.8em;}
				h3, p{
					margin-bottom: 0em;
					color: #fff;
					&:hover{color: $red;}
					}		
			}



			
			
			/*SITE MAP PAGE*/
			.sitemap li{
				color: #333;
				margin-top: 1em;
				font-weight: bolder;
				border-bottom: 0px solid red;
				a{
					color: #333;
					&:hover{color: #9048bf;}	
					}
				ul li{
					color: #666;
					margin-top: 0em;
					font-weight:lighter;
					display: inline;
					width: 100%;
					a{
						color: #666;
						display: block;
						padding: 0.3em 0px;
						border-bottom: 1px solid #ccc;
						}
					}					
				}





			/*SEARCH RESULTS PAGE*/
			.search-results{
				li {border-bottom: 1px solid #ccc; padding: 1em 0;}
				h3{font-size: 1em; margin-bottom: 0px;}
				p{margin: 0.5em 0 0 0;}
				a{color:#fff}
			}


#my-account h2 {
	color:$red;
	display:block;
	border-bottom:1px solid #fff;
	margin:0 0 10px 0;
	.bout-details {
			margin:0;
			border:none;
		}
}
#my-account .sub-menu li {
	padding:0;
	margin:5px 0;
	border-bottom:1px solid #fff;
}
	#my-account .sub-menu li a {
		color:#fff;
	}
#my-account .box {
	background:none;
	padding:10px;
	border:1px solid #fff;
}
#my-account .button {
	float:right;
}

#add-team {
	display:none;
}