<!DOCTYPE HTML">
<html>
	<head>
		<title>QR Reader | 2nd Folio</title>
		
		{embed="includes/head"}
		<script type="text/javascript" src="{site_url}assets/scanner/js/jquery.min.js"></script>
		<script type="text/javascript" src="{site_url}assets/scanner/js/jquery.webcamqrcode.js"></script>
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">
			<div class="page-top"></div>
			<div class="page-mid">
				<div class="span-24">
					<div class="span-16">

					
						{exp:channel:entries entry_id="62"}
							<h1 class="stencil">{title}</h1>

					
					<script>
					(function($){
						$('document').ready(function(){
							$('#qrcodebox').WebcamQRCode({
								onQRCodeDecode: function( p_data ){
										$('#qrcode_result').html( p_data );
										window.location.replace(p_data);
								}
							});

							$('#btn_start').click(function(){
								$('#qrcodebox').WebcamQRCode().start();
							});

							$('#btn_stop').click(function(){
								$('#qrcodebox').WebcamQRCode().stop();
							});
						});
					})(jQuery);
					</script>
					
					<div style="width: 500px; height: 500px;margin: 30px 250px" id="qrcodebox"></div>
					
					
						<p class="intro">{intro}</p>
						{body}
					{/exp:channel:entries}
					</div>

						
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
	</body>
</html>
