{if logged_in}
	{exp:channel:entries channel="comments" search:comment_parent="{segment_2}" dynamic="no"}
		{embed="includes/comment-wrangler" aid="{author_id}" eid="{entry_id}"}
	{/exp:channel:entries}
{/if}


{if logged_out}
<h1>Log in to comment</h1>
{exp:member:login_form return="{segment_1}/{segment_2}"}
	<label class="stencil">Username</label><br />
	<input type="text" name="username" value="" class="span-5 text"/> <br />
	<label class="stencil">Password</label><br />
	<input type="password" name="password" value="" class="span-5 text" /></p>
	<p>
		<input type="submit" name="submit" value="Login" />
	</p>
{/exp:member:login_form}
{/if}


{if logged_in}
<a href="{path='logout'}">Logout</a>
	{exp:safecracker channel="comments" return="{segment_1}/{segment_2}"}
		<input type="hidden" name="title" id="title" value="{segment_2}-" size="50" maxlength="100" onkeyup="liveUrlTitle();" />

		<input type="hidden" name="comment_parent" id="comment_parent" value="{segment_2}" size="50" maxlength="100" />

		<label for="video_url">Video URL</label><br />
		{field:video_url}<br />
		<label for="comment_body">Comment</label><br />
		{field:comment_body}
		<input type="submit" value="Submit" />
	{/exp:safecracker}
{/if}