	<div class="container">
		<div class="span-24 last">
			<a href="http://www.supercooldesign.co.uk" class="supercool" title="Site by Supercool">Supercool</a>
			<a href="http://www.candt.org" class="candt-logo" title="A project devised and delivered by C&T Theatre Company">C&T</a>
		</div>
	</div>

	<script type="text/javascript" src="{site_url}assets/js/functions.js"></script>
	
	<script type="text/javascript">
	var _gaq = _gaq || [];
	_gaq.push(['_setAccount', 'UA-1886172-39']);
	_gaq.push(['_trackPageview']);

	(function() {
	var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	})();
	</script>