<div class="top-black"></div>
	<div class="container">
			<div class="span-24">
				<div class="span-7">
					<h1 id="logo"><a href="{path="home"}" title="Go to homepage">2nd Folio</a></h1>
				</div>
				<div class="span-17 last">
					<ul id="top-nav">
						{if logged_in}
						<li><a href="{path="my-account"}" title="">My Account</a></li>
						<li><a href="{path="logout"}" title="">Logout</a></li>
						{/if}
						{if logged_out}
						<li><a href="{path="login"}" title="">Login</a></li>
						{/if}
					</ul>
					<ul id="main-menu">
						<li><a href="{site_url}" title="Go to homepage">Home</a></li>
						{if logged_out}<li><a href="{path="about/"}" title="">About</a></li>{/if}
						<li><a href="{path="characters/"}" title="">Points</a></li>
						<li><a href="{path="rules/"}" title="">Rules</a></li>
						{if logged_in}<li><a href="{path="qr"}" title="">Scanner</a></li>{/if}
					</ul>
				</div>
			</div>
	</div>