<div class="top-black"></div>
	<div class="container">
			<div class="span-24">
				<div class="span-7">
					<h1 id="logo"><a href="{path="home"}" title="Go to homepage">2nd Folio</a></h1>
				</div>
				<div class="span-17 last">
					<ul id="main-menu">
						<li><a href="{path="home"}" title="Go to homepage">Introduction</a></li>
						<li><a href="{path="about/"}" title="">About</a></li>
						<li><a href="{path="characters/"}" title="">Points</a></li>
						<li><a href="{path="rules/"}" title="">Rules</a></li>
						<li><a href="{path="submit/"}" title="">Submit</a></li>
						<li><a href="{path="shop"}" title="">Shop</a></li>
						{if logged_in}<li><a href="{path="my-account"}" title="">My Account</a></li>{/if}
						{if logged_out}<li><a href="{path="member/login"}" title="">Login</a></li>{/if}
					</ul>
				</div>
			</div>
	</div>