<!DOCTYPE HTML">
<html>
	<head>
		<title>The League | 2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">
			<div class="page-top"></div>
			<div class="page-mid">			
				<div id="league" class="span-24">
					{exp:channel:entries channel="league" limit="1" dynamic="no"}
					<div class="prepend-top">
						<h1 class="stencil">The League</h1>
						<p class="intro">{league-body}</p>
					</div>
					{/exp:channel:entries}
					<div class="span-15 prepend-top">
						<table class="league">
							<thead>
								<td class="team">Team</td>
								<td class="played">Played<br /><small>[Number of rounds]</small></td>
								<td played="average">Average<br /><small>[Points scored]</small></td>
								<td class="total">Total</td>
							</thead>
							{exp:channel:entries channel="team" orderby="team_total_points" sort="desc" dynamic="no"}
								<tr class="{switch="odd|tother"}">
									<td class="team"><a href="{title_permalink="league"}" rel="{title_permalink="includes/ajax-team-info"}" class="team-info-trigger">{title}</a><br/><small>{author}</small></td>
									<td class="played">{team_games_played}</td>
									<td class="average">{exp:simple_math calculate="round({team_total_points} / {team_games_played},0)"}</td>
									<td class="total">{team_total_points}</td>
								</tr>
							{/exp:channel:entries}
						</table>
					</div>
					
					<div class="span-8 push-1 last">
						<div id="team-info">
						{if segment_2 != ''}
						{embed="includes/ajax-team-info"}
						{/if}
						</div>
					</div>
					
				</div>
					<div class="clear"></div>
				</div>
				<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
		
		<script type="text/javascript" charset="utf-8">
		function loadTeamInfo(url)
		{
			$.ajax({
				url: url,
				success: function(content) {
					$('#team-info .box').remove();
					$(content).appendTo('#team-info');
					$('#team-info .box').show();
				}
			});
		}

		$(function(){


				// $("#classes").append('<span id="cl_whirlygig" class="whirlygig"></span><a href="#" id="more-classes" class="ajax-more">Show more</a>');


				// var cl_totalpages = $('.classes-page-nav').attr('rel');
				// var cl_totalpagecount = cl_totalpages * 20 + 1;
				// var cl_pagecount = 21;

				$('.team-info-trigger').click(function(e){
					e.preventDefault();
					var url = $(this).attr('rel');
					//alert(url);
					loadTeamInfo(url);
				});

		});
		</script>
	</body>
</html>
