<!DOCTYPE HTML">
<html>
	<head>
		<title>{exp:channel:entries channel="tasks" limit="1" dynamic="on" orderby="random"}{title} | Quotes | {/exp:channel:entries}2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">
			<div class="page-top"></div>
			<div class="page-mid">			
			<div class="span-24">
				{if segment_2 == ""}
					{exp:channel:entries channel="tasks" limit="1" dynamic="on" orderby="random"}				
				{if:else}
					{exp:channel:entries channel="tasks" limit="1" dynamic="on"}
				{/if}
				<div class="span-8 colborder prepend-top">
					<h1 class="stencil">{title}</h1>
					<p class="intro">{task-intro}</p>
					{task-body}
					
					
					{exp:imgsizer:size src="{task-qr}" width="150" height="150"}
					
					
				</div>
				<div class="span-15 last prepend-top">
					
					{task-media}
					<div class="span-15 last append-bottom border-bottom">
						{if heading != ""}<h2>{heading}</h2>{/if}
						<div class="prepend-top append-bottom">
							{if embed != ""}
							<object width="590" height="490"><param name="movie" value="http://www.youtube.com/v/{exp:low_replace find="http://www.youtube.com/watch?v=" replace=""}{embed}{/exp:low_replace}?fs=1&amp;hl=en_US"></param><param name="allowFullScreen" value="true"></param><param name="allowscriptaccess" value="always"></param><embed src="http://www.youtube.com/v/{exp:low_replace find="http://www.youtube.com/watch?v=" replace=""}{embed}{/exp:low_replace}?fs=1&amp;hl=en_US" type="application/x-shockwave-flash" allowscriptaccess="always" allowfullscreen="true" width="590" height="490"></embed></object>
							{/if}
							{if vimeo != ""}
							<iframe src="http://player.vimeo.com/video/{exp:low_replace find="http://vimeo.com/" replace=""}{vimeo}{/exp:low_replace}?portrait=0&amp;color=ffffff" width="590" height="490" frameborder="0"></iframe>
							{/if}
						</div>
						{if description != ""}{description}{/if}
					</div>
					{/task-media}



					{if logged_in}
					{exp:comment:entries sort="asc" limit="20"}
					{comment}
					<p>By {name} on {comment_date format="%Y %m %d"}</p>
					{/exp:comment:entries}
					{/if}


					{if logged_out}
					<h1>Log in to comment</h1>
					{exp:member:login_form return="tasks/{url_title}"}
						<label class="stencil">Username</label><br />
						<input type="text" name="username" value="" class="span-5 text"/> <br />
						<label class="stencil">Password</label><br />
						<input type="password" name="password" value="" class="span-5 text" /></p>
						<p>
							<input type="submit" name="submit" value="Login" />
						</p>
					{/exp:member:login_form}
					{/if}


					{if logged_in}
					<a href="{path='logout'}">Logout</a>
					{exp:comment:form channel="tasks" preview="channel/preview"}
						<label for="comment">Comment:</label><br /> 
						<textarea name="comment" cols="70" rows="10">{comment}</textarea><br />
						<label><input type="checkbox" name="save_info" value="yes" {save_info} /> Remember my personal information</label><br /> 
						<label><input type="checkbox" name="notify_me" value="yes" {notify_me} /> Notify me of follow-up comments?</label><br /> 

						{if captcha}
							<label for="captcha">Please enter the word you see in the image below:</label><br /> 
							<p>{captcha}<br />
							<input type="text" name="captcha" value="{captcha_word}" maxlength="20" /></p>
						{/if}

						<input type="submit" name="submit" value="Submit" />
						<input type="submit" name="preview" value="Preview" />
					{/exp:comment:form}
					{/if}

				</div>
				{/exp:channel:entries}



			</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>

		</div>
		{embed="includes/footer"}
	</body>
</html>
