<!DOCTYPE HTML">
<html>
	<head>
		<title>Shop | 2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">
			<div class="page-top"></div>
			<div class="page-mid">
				<div class="span-24">
					<div class="span-18">
						{if logged_out}
						<h1 class="stencil">Buy a 2nd Folio bout</h1>
						<p class="intro">If you already have an account please log in <a href="{path="member/login"}">here</a>, otherwise please register <a href="{path="member/register"}">here</a>.</p>
						{/if}
						
						{if logged_in}
						{redirect="shop/subscriptions"}
						{/if}
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
	</body>
</html>