<!DOCTYPE HTML">
<html>
	<head>
		<title>Subscriptions | 2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">
			<div class="page-top"></div>
			<div class="page-mid">
				<div class="span-24">
					<div class="span-18">
						{if logged_in}
						<h1 class="stencil">Buy a 2nd Folio bout</h1>
						<p class="intro">Click the button to buy a bout</p>
						<!-- <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="YHY53KUYETNA4">
							<input type="image" src="https://www.sandbox.paypal.com/en_US/GB/i/btn/btn_buynowCC_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
							<img alt="" border="0" src="https://www.sandbox.paypal.com/en_GB/i/scr/pixel.gif" width="1" height="1">
						</form> -->
						
						<p>When you’ve registered on the 2nd Folio site and paid your subscription C&T will contact you directly so you can join a Bout and start playing online.</p>
						<p>Three packs of cards will be dispatched to you straight away. </p>
						<p>Remember, you can play online in your Bout or offline in your own school!</p>

						<form action="https://www.paypal.com/cgi-bin/webscr" method="post">
							<input type="hidden" name="cmd" value="_s-xclick">
							<input type="hidden" name="hosted_button_id" value="FXJDX643DMMWQ">
							<input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal — The safer, easier way to pay online.">
							<img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">
						</form>


						{/if}
						{if logged_out}
						<h1 class="stencil">You are not logged in.</h1>
						<p class="intro">If you already have an account please log in <a href="{path="member/login"}">here</a>, otherwise please register <a href="{path="member/register"}">here</a>.</p>
						{/if}
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
	</body>
</html>