<!DOCTYPE HTML">
<html>
	<head>
		<title>About | 2nd Folio</title>
		
		{embed="includes/head"}
		
	</head>
	<body>
		{embed="includes/header"}
		<div class="container">
			<div class="page-top"></div>
			<div class="page-mid">			
				<div class="span-24">
					<div class="span-18">
					{exp:channel:entries entry_id="2"}
						<h1 class="stencil">{title}</h1>
						<p class="intro">{intro}</p>
						{body}
					{/exp:channel:entries}
					</div>
					
					<div class="push-1 span-5 last" style="margin-top:-10px">
						<a href="{path='member/register'}"><img src="{site_url}images/buy-banner.png"></a>
					</div>
				</div>
				<div class="clear"></div>
			</div>
			<div class="page-bottom"></div>
		</div>
		{embed="includes/footer"}
	</body>
</html>
